<div id="selected-photo" class="photo-box">
  <img class="img-responsive" src="<%=photo.urls[:fullsize]%>" alt="<%=photo.info[:title]%>" data-id="<%=photo.id%>"/> 
  <div class="photo-info">
    <div class="photo-title"><%=photo.info[:title]%></div>  
    <div class="photo-tags">
      <ul class="list-inline">          
        <%photo.info[:tags].each do |t| %>
          <li><a href="<%=list_path(query:t,do_search:false)%>">#<%=t%></a></li>
        <%end%>
      </ul>
    </div>
  </div>      
</div>  