<div class="jumbotron jumbotron-thin text-center">
  <div class="container">
    <%= render 'search_form', form_class:'form-inline'%>
  </div>  
</div>
<div id='photos' class="row-fluid">
  <% if @photo%>
    <div id="selected-photo" class="photo-box">
      <img class="img-responsive" src="<%=@photo.urls[:fullsize]%>" alt="<%=@photo.info[:title]%>" data-id="<%=@photo.id%>"/> 
      <div class="photo-info">
        <div class="photo-title"><%=@photo.info[:title]%></div>  
        <div class="photo-tags">
          <ul class="list-inline">          
            <%@photo.info[:tags].each do |t| %>
              <li><a href="<%=list_path(query:t,do_search:false)%>">#<%=t%></a></li>
            <%end%>
          </ul>
        </div>  
        <div class="photo-author">
          <a href="<%=@photo.info[:author][:url]%>"><%=@photo.info[:author][:name]%></a>
        </div>
      </div>      
    </div>  
  <%end%>
  <%= render 'list_items', {photos:@photos}%>
  <div class="photo-box load-more-container">
    <button id="load-more" class="btn btn-default btn-lg">
      <i class="fa fa-dot-circle-o"></i>
    </button>
  </div>  
</div>
<%= content_for :bottom_javascript do %>
  <script type="text/javascript">
    $(function(){
      photoPager.init({
        url:'<%=list_path(:format => :js)%>',
        page_size:<%=@page_size%>,
        query:'<%=@query%>'
      });

      photoPager.loadPage(<%=@page%>);
    });
  </script>
<%end%>