<div class="jumbotron jumbotron-thin text-center">
  <div class="container">
    <%= render 'search_form', form_class:'form-inline'%>
  </div>  
</div>
<div id='photos' class="row-fluid">
  <% if @photo%>
    <%=render 'detail', photo:@photo%>
  <%end%>
  <%= render 'list_items', {photos:@photos}%>
  <div class="photo-box load-more-container">
    <button id="load-more" class="btn btn-default btn-lg">
      <div><i class="fa fa-dot-circle-o"></i></div>
      <div>more please</div>
    </button>
  </div>  
</div>
<%= content_for :bottom_javascript do %>
  <script type="text/javascript">
    $(function(){
      photoPager.init({
        url:'<%=list_path(:format => :js)%>',
        page_size:<%=@page_size%>,
        query:'<%=@query%>'
      });

      photoPager.loadPage(<%=@page%>);
    });
  </script>
<%end%>