<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pwckr" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pwckr" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "home" if params[:action] == 'index'%>">
    <div id="wrap">
      <div class="container">
        <%= yield %>
      </div>
    </div>    
    <div id="footer">
      <div class="container">
        <a href="<%=root_path%>">PWCkr <i class="icon-camera-retro"></i></a> 
      </div>
    </div>
  </body>
</html>
