<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pwckr" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pwckr" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "home" if params[:action] == 'index'%>">
    <div id="wrap">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>    
    <div id="footer">
      <div class="container-fluid">
        <div>
        </div>
        <a class="brand" href="<%=root_path%>">PWCkr <i class="fa fa-camera-retro"></i></a>
        <span id="sync-status" class="blink" style="display:none;"></span>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :bottom_javascript %>
  </body>
</html>
